In [2]:
import os, re, sys
import pandas as pd

from Bio import SeqIO, Entrez

from curated_set_services import CuratedSet

In [3]:
#Load data from histones.csv
curated_set = CuratedSet()
cs=curated_set

In [4]:
cs.data.head()

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
XP_010685819.1,XP_010685819.1,H2A,cH2A,cH2A,,731349093,,,3555,Beta vulgaris subsp. vulgaris,Streptophyta,Magnoliopsida,,,,MDSTAGGKAKKGAGGRKGGGPKKKPVSRSVKAGLQFPVGRIGRYLK...
NP_563627.1,NP_563627.1,H3,cenH3,cenH3,,18378832,,,3702,Arabidopsis thaliana,Streptophyta,Magnoliopsida,,,,MARTKHRVTRSQPRNQTDAAGASSSQAAGPTTTPTRRGGEGGDNTQ...
NP_001190852.1,NP_001190852.1,H2A,cH2A,cH2A,,334186954,,,3702,Arabidopsis thaliana,Streptophyta,Magnoliopsida,,,,MAGRGKQLGSGAAKKSTSRSSKAGLQFPVGRIARFLKAGKYAERVG...
NP_175517.1,NP_175517.1,H2A,cH2A,cH2A,,15223708,,,3702,Arabidopsis thaliana,Streptophyta,Magnoliopsida,,,,MAGRGKTLGSGSAKKATTRSSKAGLQFPVGRIARFLKKGKYAERVG...
NP_188703.1,NP_188703.1,H2A,cH2A,cH2A,,15232330,,,3702,Arabidopsis thaliana,Streptophyta,Magnoliopsida,,,,MAGRGKTLGSGVAKKSTSRSSKAGLQFPVGRIARFLKNGKYATRVG...

In [23]:
handle= Entrez.efetch(db="protein", id='XP_002913536.1', rettype="gb", retmode="text")
data = list(SeqIO.parse(handle, "gb"))
data[0]

SeqRecord(seq=Seq('MSGKKSHESSYQTQAHLITTELQVPVSYVDRLLQENQYNHPLSSSTTDFLLTML...RNG'), id='XP_002913536.1', name='XP_002913536', description='huntingtin-interacting protein M [Ailuropoda melanoleuca]', dbxrefs=['BioProject:PRJNA633539'])

In [7]:
for acc in ['XP_012928609.2', 'NP_001035891.1', 'XP_002763866.2']:
    print(f"ACCESSION {acc}\n{cs.data.loc[cs.data['accession']==acc]['sequence'].values}\n--------------------------------------------------------------------------------------------------------")

ACCESSION XP_012928609.2
['MFDVFGRDKGGKVLDKGRAKRHPKVLRGNIQGITKPAISRLARRSGVKRISGLICEETRGVLKVFRMETMIRDIVIYAEHAKRETVTAMDVVYTLKXQGRTLYGFGELSSCINREASQRFIRLLSVCSITHTKQAARKSTCGKTPRKQLATRAACKSXVKKPHRYRAGTEALREIRRYQKFTKLLIRKLPFQRLVREIAQDFKTDLRFQSSAVMALHEASEAYLVGLFEDTNLLLISSQLLAMSGRGKGGKGLGKGGAKRHRKVLRDNIQGITKPAIRRLARRGGVKRISGLIYEETRGVLKVFLENVIRDAVTYTEHAKRKTVTAMDVVYALKRQGRTLYGFGG']
--------------------------------------------------------------------------------------------------------
ACCESSION NP_001035891.1
['MGPRRRSRKPEAPRRRSPSPTPTPGPSRRGPSLGASSHQHSRRRQGWLKEIRKLQKSTHLLIRKLPFSRLAAEAFLVHLFEDAYLLTLHAGRVTLFPKDVQLARRIRGLEEGLG']
--------------------------------------------------------------------------------------------------------
ACCESSION XP_002763866.2
['MSERRSRRGSSAAGRRGHTRSRTARAELIFSVSKMERGLWEGHYAQRLSDNAPVYLAAVIQYLTAKILELAAKGADNRGERIITPRLLDMAVHNDGLLSTLFHAITISQVGPGPN']
--------------------------------------------------------------------------------------------------------

In [44]:
set(cs.data[cs.data['type']=='H2A']['variant'])

{'H2A.1',
 'H2A.B',
 'H2A.B.1_(Homo_sapiens)',
 'H2A.B.2.1_(Homo_sapiens)',
 'H2A.B.2.2_(Homo_sapiens)',
 'H2A.J_(Homo_sapiens)',
 'H2A.L',
 'H2A.P',
 'H2A.P_(Homo_sapiens)',
 'H2A.W',
 'H2A.X',
 'H2A.X_(Homo_sapiens)',
 'H2A.Z',
 'H2A.Z.1_(Homo_sapiens)',
 'H2A.Z.2.s1_(Homo_sapiens)',
 'H2A.Z.2.s2_(Homo_sapiens)',
 'H2A.Z.2.s3_(Homo_sapiens)',
 'H2A.Z.2.s4_(Homo_sapiens)',
 'H2A.Z.2.s5_(Homo_sapiens)',
 'cH2A',
 'cH2A.1.1_(Homo_sapiens)',
 'cH2A.1.2_(Homo_sapiens)',
 'cH2A.1.3_(Homo_sapiens)',
 'cH2A.1.4_(Homo_sapiens)',
 'cH2A.1.5_(Homo_sapiens)',
 'cH2A.1.6_(Homo_sapiens)',
 'cH2A.1.7_(Homo_sapiens)',
 'cH2A.1.8_(Homo_sapiens)',
 'cH2A.1.9_(Homo_sapiens)',
 'cH2A.2.1_(Homo_sapiens)',
 'cH2A.2.2_(Homo_sapiens)',
 'generic_H2A',
 'macroH2A',
 'macroH2A.1.s1_(Homo_sapiens)',
 'macroH2A.1.s2_(Homo_sapiens)',
 'macroH2A.1.s3_(Homo_sapiens)',
 'macroH2A.2_(Homo_sapiens)'}

In [8]:
set(cs.data['type'])

{'H1', 'H2A', 'H2B', 'H3', 'H4'}

In [18]:
cs.data.columns

Index(['accession', 'type', 'variant_group', 'variant', 'doublet', 'gi',
       'ncbi_gene_id', 'hgnc_gene_name', 'taxonomy_id', 'organism', 'phylum',
       'class', 'taxonomy_group', 'info', 'references', 'sequence'],
      dtype='object')

In [17]:
new_seqs = {'accession': [],
            'type': [],
            'variant_group': [],
            'variant': [],
            'doublet': [],
            'references': [],
            'sequence': []}
# df = df.append({'A': [1,2,3], 'B': [1,2,3]}, ignore_index=True)

           A          B    C
0  [1, 2, 3]  [1, 2, 3]  NaN

In [22]:
df = pd.read_csv('viral_histones.csv').fillna('')
df.shape

(72, 6)

In [23]:
df.head()

        accession       type variant_group variant  doublet  references
0      AAV98010.1   Viral_H4                          False    35624484
1  YP_009665791.1   Viral_H4                          False    35624484
2      AGL91659.1   Viral_H4                          False    35624484
3      AFN42307.1   Viral_H4                          False    35624484
4      BCU02668.1  Viral_H2B                          False    35624484

In [24]:
set(df['type'])

{'Viral_H1',
 'Viral_H1+WWE',
 'Viral_H2A',
 'Viral_H2B',
 'Viral_H2B-H2A',
 'Viral_H3',
 'Viral_H3-H4',
 'Viral_H4',
 'Viral_H4-H3',
 'Viral_Hb-Ha',
 'Viral_Hd-Hg',
 'Viral_Hz-He',
 'Viral_other-H4-H3'}

In [34]:
df = pd.read_csv('mag_histones.csv').fillna('')
df.shape

(47, 6)

In [35]:
df.head()

        accession    type variant_group variant  doublet  references
0  contig_7330_16  MAG_H4                        singlet    35624484
1   contig_3395_2  MAG_H3                        singlet    35624484
2  contig_64216_2  MAG_H3                        singlet    35624484
3  contig_5075_47  MAG_H3                        singlet    35624484
4      AYV87056.1  MAG_H3                        singlet    35624484

In [36]:
set(df['type'])

{'MAG_(HFD? + H2B? )+ H2A',
 'MAG_H1 + WWE',
 'MAG_H1+other',
 'MAG_H2A',
 'MAG_H2A-H2B',
 'MAG_H2B-H2A',
 'MAG_H2B-H2A-H3',
 'MAG_H2B-H2A-H3-H4',
 'MAG_H2B-H2A-H4-H3',
 'MAG_H2B-H2A-other',
 'MAG_H3',
 'MAG_H4',
 'MAG_H4-H3',
 'MAG_other + (H2B?) + H2A',
 'MAG_other + H3'}

In [37]:
handle= Entrez.efetch(db="protein", id=','.join(df['accession']), rettype="gb", retmode="text")
data = list(SeqIO.parse(handle, "gb"))
for d in data:
    print(d.features[0].qualifiers['organism'])

/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/Entrez/__init__.py:658: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  warnings.warn(

['Sylvanvirus sp.']
['Marseillevirus LCMAC101']
['Marseillevirus LCMAC101']
['Marseillevirus LCMAC101']
['Marseillevirus LCMAC101']
['Marseillevirus LCMAC102']
['Marseillevirus LCMAC102']
['Marseillevirus LCMAC102']
['Marseillevirus LCMAC201']
['Marseillevirus LCMAC202']
['Pithovirus LCPAC001']
['Pithovirus LCPAC102']
['Pithovirus LCPAC304']
['Pithovirus LCPAC304']
['Pithovirus LCPAC304']
['Pithovirus LCPAC304']
['Pithovirus LCPAC304']
['Pithovirus LCPAC304']
['Indivirus ILV1']
['Klosneuvirus KNV1']

In [ ]:
cs.update_accession_version()
cs.data=cs.data.set_index(cs.data.accession.values)