In [1]:
import io

import pandas as pd
from Bio import Entrez, SeqIO
from mysql.connector import connection
from sshtunnel import SSHTunnelForwarder

# Укажите ваш email (обязательно для использования Entrez)
Entrez.email = "your.email@example.com"

In [2]:
with open("db_curated_server_info.txt", "r") as file:
    lines = file.readlines()

config = {}

for line in lines:
    line = line.strip()
    if line and not line.startswith("#"):
        key, value = line.split("=", 1)
        config[key] = value.strip()

server_name = config.get("server_name")
srever_port = int(config.get("srever_port"))
ssh_password = config.get("ssh_password")
ssh_username = config.get("ssh_username")
db_adress = config.get("db_adress")
db_port = int(config.get("db_port"))

In [3]:
tunnel = SSHTunnelForwarder(
    (server_name, srever_port),
    ssh_password=ssh_password,
    ssh_username=ssh_username,
    remote_bind_address=(db_adress, db_port),
)
tunnel.start()
print(tunnel.local_bind_port)

38731

In [4]:
conn = connection.MySQLConnection(
    user="db_user",
    password="db_password",
    host="localhost",
    port=tunnel.local_bind_port,
    database="db_name",
)
cursor = conn.cursor()

In [5]:
query = "SHOW TABLES;"
cursor.execute(query)
cursor.fetchall()

[('alternative_name',),
 ('histone',),
 ('histone_description',),
 ('histone_has_publication',),
 ('publication',),
 ('sequence',),
 ('sequence_has_publication',)]

In [57]:
add_histone = (
    "INSERT INTO histone "
    "(id, level, taxonomic_span, taxonomic_span_id, description, parent) "
    "VALUES (%(id)s, %(level)s, %(taxonomic_span)s, %(taxonomic_span_id)s, %(description)s, %(parent)s)"
)
add_histone_description = (
    "INSERT INTO histone_description "
    "(summary, taxonomy, genes, evolution, expression, knock_out, function, sequence, localization, deposition, structure, interactions, disease, caveats) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
)
# add_publication = (
#     "INSERT INTO publication "
#     "(id, title, doi, author, year) "
#     "VALUES (%(id)s, %(title)s, %(doi)s, %(author)s, %(year)s)"
# )
# add_sequence = (
#     "INSERT INTO sequence "
#     "(accession, variant, gi, ncbi_gene_id, hgnc_gene_name, taxonomy_id, organism, phylum, class, taxonomy_group, info, sequence, variant_under_consideration) "
#     "VALUES (%(accession)s, %(variant)s, %(gi)s, %(ncbi_gene_id)s, %(hgnc_gene_name)s, %(taxonomy_id)s, %(organism)s, %(phylum)s, %(class)s, %(taxonomy_group)s, %(info)s, %(sequence)s, %(variant_under_consideration)s)"
# )
# add_sequence_has_publication = (
#     "INSERT INTO sequence_has_publication "
#     "(sequence_accession, publication_id) "
#     "VALUES (%s, %s)"
# )
add_alternate_names = (
    "INSERT INTO alternative_name "
    "(name, taxonomy, gene, splice, histone) "
    "VALUES (%(name)s, %(taxonomy)s, %(gene)s, %(splice)s, %(histone)s)"
)
# add_histone_has_publication = (
#     "INSERT INTO histone_has_publication "
#     "(histone_id, publication_id) "
#     "VALUES (%s, %s)"
# )

# To Do H3-like

## <span style="color:green">Add H3-like_(Plants)</span>

## <span style="color:green">Add description to H3-like_(Plants)</span>

### <span style="color:green">Add summary</span>

```H3-like_(Plants) is a group of poorly characterized histone variants that exhibit amino acid substitutions resembling those of either H3.3 variants (termed H3.3-like) or H3.1 variants (termed H3.1-like) [alvarez-venegas_canonical_2019]. This group includes three Arabidopsis genes (HTR6, HTR11, and HTR15), four rice genes (HTR701, HTR709, HTR714, and HTR715) and five lily genes (gcH3, gH3, leH3, soH3-1 и soH3-2), which are expected to encode functional proteins [alvarez-venegas_canonical_2019, probst_similar_2020].```

### <span style="color:green">Add function</span>

```The functions of most H3-like genes are still unknown. Nevertheless, the lily isoforms are presumed to participate in specialized chromatin remodeling during male germline development due to their specific expression in the pollen generative cell and association with the male gametophyte [alvarez-venegas_canonical_2019]. Interestingly, phylogenetic analysis clustered gH3 with centromeric histones, suggesting a potential role in centromere function [alvarez-venegas_canonical_2019].```

### <span style="color:green">Add sequence</span>

```The amino acid sequences of the Arabidopsis and rice H3-like variants show no significant homology and lack conserved patterns of amino acid substitutions, suggesting they may have emerged as specialized, divergent variants following lineage-specific duplication events [alvarez-venegas_canonical_2019]. In lily, soH3-1 and soH3-2 exhibit similarity to the conserved H3.3 variant, whereas gcH3, gH3, and leH3 are highly divergent.```

### <span style="color:green">Add caveats</span>

```Alvarez-Venegas et al. classified HTR10 and HTR14 as H3-like histone genes [alvarez-venegas_canonical_2019]. However, recent studies have characterized the corresponding histone variants H3.10 and H3.14 in detail, leading to their reclassification as distinct functional variants (see more on histone variants H3.10_(Arabidopsis) and H3.14_(Arabidopsis)) [borg_targeted_2020, vazquez_histone_2025].```

## <span style="color:green">Add H3.10_(Arabidopsis) to H3</span>

## <span style="color:green">Add description to H3.10_(Arabidopsis)</span>

### <span style="color:green">Add summary</span>

```H3.10_(Arabidopsis) is a poorly characterized sperm-specific histone variant in Arabidopsis, encoded by HTR10 gene [borg_targeted_2020, alvarez-venegas_canonical_2019].```

### <span style="color:green">Add function</span>

```H3.10 plays a critical role in reprogramming parental epigenetic memory. The deposition of H3.10 constitutes one of the key mechanisms leading to the loss of H3K27me3 in plant sperm cells [borg_targeted_2020].```

### <span style="color:green">Add sequence</span>

```The amino acid substitutions (Y31, H87, L90) in H3.10 are similar to those in H3.3 [alvarez-venegas_canonical_2019]. The absence of alanine at position 31 in the amino acid sequence around lysine 27 (K27) makes H3.10 immune to methylation at K27 [borg_targeted_2020].```

## <span style="color:green">Add H3.14_(Arabidopsis) to H3</span>

## <span style="color:green">Add description to H3.14_(Arabidopsis)</span>

### <span style="color:green">Add summary</span>

```H3.14_(Arabidopsis) is a specialized histone variant in Arabidopsis (encoded by the HTR14 gene) dedicated to managing the trade-off between growth and stress survival at the chromatin level. Rapid expression of HTR14 is induced by various abiotic stresses (e.g., salt, osmotic stress, oxidative stress, ABA) in a subset of responsive cells of the root transition zone [nunez-vazquez_histone_2025]. Its accumulation peaks during the growth arrest and quiescent phases of the stress response and declines before recovery.```

### <span style="color:green">Add function</span>

```H3.14 plays a dual role in the transcriptional reprogramming during the early stress response. It activates stress-responsive genes and represses growth- and development-related genes [nunez-vazquez_histone_2025].```

### <span style="color:green">Add expression</span>

```H3.14 is expressed in both vegetative tissues and reproductive structures, including the vegetative nucleus of mature pollen, the central cell, and the antipodes of the female gametophyte [nunez-vazquez_histone_2025, probst_similar_2020]. However, under normal non-stress conditions, its expression in vegetative cells remains very low but is rapidly and strongly induced in response to abiotic stress [nunez-vazquez_histone_2025].```

### <span style="color:green">Add localization</span>

```H3.14 is exclusively localized in euchromatin (colocalizes with H3K4me3) and is highly dynamic, with a fast turnover rate dependent on active transcription [nunez-vazquez_histone_2025].```

### <span style="color:green">Add deposition</span>

```H3.14 deposition is independent of the major histone chaperones CAF-1 (for H3.1) and HIRA (for H3.3), suggesting a unique incorporation pathway [nunez-vazquez_histone_2025].```

## <span style="color:green">Add description to H3.Y_(Primates)</span>

### <span style="color:green">Add summary</span>

```H3.Y_(Primates) is a primate-specific histone H3 variant. Studies on human tissues demonstrate that H3.Y expression is detected at low levels in certain cell lines (e.g., osteosarcoma U2OS), in several normal (brain, testis) and malignant tissues, as well as during early embryonic cleavage stages [ding_primate-specific_2021, talbert_histone_2021, resnick_dux4-induced_2019]. However, the precise physiological functions of H3.Y remain poorly understood.```

### <span style="color:green">Add gene</span>

```The H3.Y variant is encoded by two intron-free genes homologous to human H3Y1 and H3Y2 [wiedemann_identification_2010].```

## <span style="color:green">Add description to H3.Y.1_(Primates)</span>

### <span style="color:green">Add summary</span>

```H3.Y.1_(Primates) is a primate-specific histone H3 variant encoded by the gene homologous to human H3Y1 [wiedemann_identification_2010].```

## <span style="color:green">Add description to H3.Y.2_(Primates)</span>

### <span style="color:green">Add summary</span>

```H3.Y.2_(Primates) is a primate-specific histone H3 variant (also known as H3.X) encoded by the gene homologous to human H3Y [wiedemann_identification_2010].```

## <span style="color:green">Alternate name H3.X set to H3.Y.2_(Primates) and H3.Y.2_(Homo_sapiens)</span>

## <span style="color:black">Add H3-like_(Plants)</span>

In [8]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3-like_(Plants)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

Empty DataFrame
Columns: [id, level, taxonomic_span, taxonomic_span_id, description, parent, id, summary, taxonomy, genes, evolution, expression, knock_out, function, sequence, localization, deposition, structure, interactions, disease, caveats, relations]
Index: []

[0 rows x 22 columns]

In [9]:
data_histone = {
    "id": "H3-like_(Plants)",
    "level": "variant_group",
    "taxonomic_span": "Viridiplantae",
    "taxonomic_span_id": "33090",
    "description": None,
    "parent": "H3",
}
cursor.execute(add_histone, data_histone)

In [10]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3-like_(Plants)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3-like_(Plants),variant_group,Viridiplantae,33090,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [11]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3-like_(Plants)</span>

### <span style="color:black">Add summary</span>

```H3-like_(Plants) is a group of poorly characterized histone variants that exhibit amino acid substitutions resembling those of either H3.3 variants (termed H3.3-like) or H3.1 variants (termed H3.1-like) [alvarez-venegas_canonical_2019]. This group includes three Arabidopsis genes (HTR6, HTR11, and HTR15), four rice genes (HTR701, HTR709, HTR714, and HTR715) and five lily genes (gcH3, gH3, leH3, soH3-1 и soH3-2), which are expected to encode functional proteins [alvarez-venegas_canonical_2019, probst_similar_2020].```

### <span style="color:black">Add function</span>

```The functions of most H3-like genes are still unknown. Nevertheless, the lily isoforms are presumed to participate in specialized chromatin remodeling during male germline development due to their specific expression in the pollen generative cell and association with the male gametophyte [alvarez-venegas_canonical_2019]. Interestingly, phylogenetic analysis clustered gH3 with centromeric histones, suggesting a potential role in centromere function [alvarez-venegas_canonical_2019].```

### <span style="color:black">Add sequence</span>

```The amino acid sequences of the Arabidopsis and rice H3-like variants show no significant homology and lack conserved patterns of amino acid substitutions, suggesting they may have emerged as specialized, divergent variants following lineage-specific duplication events [alvarez-venegas_canonical_2019]. In lily, soH3-1 and soH3-2 exhibit similarity to the conserved H3.3 variant, whereas gcH3, gH3, and leH3 are highly divergent.```

### <span style="color:black">Add caveats</span>

```Alvarez-Venegas et al. classified HTR10 and HTR14 as H3-like histone genes [alvarez-venegas_canonical_2019]. However, recent studies have characterized the corresponding histone variants H3.10 and H3.14 in detail, leading to their reclassification as distinct functional variants (see more on histone variants H3.10_(Arabidopsis) and H3.14_(Arabidopsis)) [borg_targeted_2020, vazquez_histone_2025].```

In [12]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3-like_(Plants)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3-like_(Plants),variant_group,Viridiplantae,33090,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [16]:
data_histone_description = {
    "summary": "H3-like_(Plants) is a group of poorly characterized histone variants that exhibit amino acid substitutions resembling those of either H3.3 variants (termed H3.3-like) or H3.1 variants (termed H3.1-like) [alvarez-venegas_canonical_2019]. This group includes three Arabidopsis genes (HTR6, HTR11, and HTR15), four rice genes (HTR701, HTR709, HTR714, and HTR715) and five lily genes (gcH3, gH3, leH3, soH3-1 и soH3-2), which are expected to encode functional proteins [alvarez-venegas_canonical_2019, probst_similar_2020].",
    "taxonomy": None,
    "genes": None,
    "evolution": None,
    "expression": None,
    "knock_out": None,
    "function": "The functions of most H3-like genes are still unknown. Nevertheless, the lily isoforms are presumed to participate in specialized chromatin remodeling during male germline development due to their specific expression in the pollen generative cell and association with the male gametophyte [alvarez-venegas_canonical_2019]. Interestingly, phylogenetic analysis clustered gH3 with centromeric histones, suggesting a potential role in centromere function [alvarez-venegas_canonical_2019].",
    "sequence": "The amino acid sequences of the Arabidopsis and rice H3-like variants show no significant homology and lack conserved patterns of amino acid substitutions, suggesting they may have emerged as specialized, divergent variants following lineage-specific duplication events [alvarez-venegas_canonical_2019]. In lily, soH3-1 and soH3-2 exhibit similarity to the conserved H3.3 variant, whereas gcH3, gH3, and leH3 are highly divergent.",
    "localization": None,
    "deposition": None,
    "structure": None,
    "interactions": None,
    "disease": None,
    "caveats": "Alvarez-Venegas et al. classified HTR10 and HTR14 as H3-like histone genes [alvarez-venegas_canonical_2019]. However, recent studies have characterized the corresponding histone variants H3.10 and H3.14 in detail, leading to their reclassification as distinct functional variants (see more on histone variants H3.10_(Arabidopsis) and H3.14_(Arabidopsis)) [borg_targeted_2020, vazquez_histone_2025].",
}
cursor.execute(add_histone_description, tuple(data_histone_description.values()))

histone_description_id = cursor.lastrowid
query = (
    f"UPDATE histone SET description={histone_description_id} WHERE id='H3-like_(Plants)'"
)
cursor.execute(query)

In [17]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3-like_(Plants)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3-like_(Plants),variant_group,Viridiplantae,33090,249,H3,249,H3-like_(Plants) is a group of poorly characte...,None,None,...,None,The functions of most H3-like genes are still ...,The amino acid sequences of the Arabidopsis an...,None,None,None,None,None,Alvarez-Venegas et al. classified HTR10 and HT...,None

In [18]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add H3.10_(Arabidopsis) to H3</span>

In [19]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.10_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

Empty DataFrame
Columns: [id, level, taxonomic_span, taxonomic_span_id, description, parent, id, summary, taxonomy, genes, evolution, expression, knock_out, function, sequence, localization, deposition, structure, interactions, disease, caveats, relations]
Index: []

[0 rows x 22 columns]

In [20]:
data_histone = {
    "id": "H3.10_(Arabidopsis)",
    "level": "variant_group",
    "taxonomic_span": "Arabidopsis",
    "taxonomic_span_id": "3701",
    "description": None,
    "parent": "H3",
}
cursor.execute(add_histone, data_histone)

In [21]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.10_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.10_(Arabidopsis),variant_group,Arabidopsis,3701,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [22]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3.10_(Arabidopsis)</span>

### <span style="color:black">Add summary</span>

```H3.10_(Arabidopsis) is a poorly characterized sperm-specific histone variant in Arabidopsis, encoded by HTR10 gene [borg_targeted_2020, alvarez-venegas_canonical_2019].```

### <span style="color:black">Add function</span>

```H3.10 plays a critical role in reprogramming parental epigenetic memory. The deposition of H3.10 constitutes one of the key mechanisms leading to the loss of H3K27me3 in plant sperm cells [borg_targeted_2020].```

### <span style="color:black">Add sequence</span>

```The amino acid substitutions (Y31, H87, L90) in H3.10 are similar to those in H3.3 [alvarez-venegas_canonical_2019]. The absence of alanine at position 31 in the amino acid sequence around lysine 27 (K27) makes H3.10 immune to methylation at K27 [borg_targeted_2020].```

In [23]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.10_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.10_(Arabidopsis),variant_group,Arabidopsis,3701,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [24]:
data_histone_description = {
    "summary": "H3.10_(Arabidopsis) is a poorly characterized sperm-specific histone variant in Arabidopsis, encoded by HTR10 gene [borg_targeted_2020, alvarez-venegas_canonical_2019].",
    "taxonomy": None,
    "genes": None,
    "evolution": None,
    "expression": None,
    "knock_out": None,
    "function": "H3.10 plays a critical role in reprogramming parental epigenetic memory. The deposition of H3.10 constitutes one of the key mechanisms leading to the loss of H3K27me3 in plant sperm cells [borg_targeted_2020].",
    "sequence": "The amino acid substitutions (Y31, H87, L90) in H3.10 are similar to those in H3.3 [alvarez-venegas_canonical_2019]. The absence of alanine at position 31 in the amino acid sequence around lysine 27 (K27) makes H3.10 immune to methylation at K27 [borg_targeted_2020].",
    "localization": None,
    "deposition": None,
    "structure": None,
    "interactions": None,
    "disease": None,
    "caveats": None,
}
cursor.execute(add_histone_description, tuple(data_histone_description.values()))

histone_description_id = cursor.lastrowid
query = (
    f"UPDATE histone SET description={histone_description_id} WHERE id='H3.10_(Arabidopsis)'"
)
cursor.execute(query)

In [25]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.10_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.10_(Arabidopsis),variant_group,Arabidopsis,3701,250,H3,250,H3.10_(Arabidopsis) is a poorly characterized ...,None,None,...,None,H3.10 plays a critical role in reprogramming p...,"The amino acid substitutions (Y31, H87, L90) i...",None,None,None,None,None,None,None

In [26]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add H3.14_(Arabidopsis) to H3</span>

In [27]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.14_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

Empty DataFrame
Columns: [id, level, taxonomic_span, taxonomic_span_id, description, parent, id, summary, taxonomy, genes, evolution, expression, knock_out, function, sequence, localization, deposition, structure, interactions, disease, caveats, relations]
Index: []

[0 rows x 22 columns]

In [28]:
data_histone = {
    "id": "H3.14_(Arabidopsis)",
    "level": "variant_group",
    "taxonomic_span": "Arabidopsis",
    "taxonomic_span_id": "3701",
    "description": None,
    "parent": "H3",
}
cursor.execute(add_histone, data_histone)

In [29]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.14_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.14_(Arabidopsis),variant_group,Arabidopsis,3701,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [30]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3.14_(Arabidopsis)</span>

### <span style="color:black">Add summary</span>

```H3.14_(Arabidopsis) is a specialized histone variant in Arabidopsis (encoded by the HTR14 gene) dedicated to managing the trade-off between growth and stress survival at the chromatin level. Rapid expression of HTR14 is induced by various abiotic stresses (e.g., salt, osmotic stress, oxidative stress, ABA) in a subset of responsive cells of the root transition zone [nunez-vazquez_histone_2025]. Its accumulation peaks during the growth arrest and quiescent phases of the stress response and declines before recovery.```

### <span style="color:black">Add function</span>

```H3.14 plays a dual role in the transcriptional reprogramming during the early stress response. It activates stress-responsive genes and represses growth- and development-related genes [nunez-vazquez_histone_2025].```

### <span style="color:black">Add expression</span>

```H3.14 is expressed in both vegetative tissues and reproductive structures, including the vegetative nucleus of mature pollen, the central cell, and the antipodes of the female gametophyte [nunez-vazquez_histone_2025, probst_similar_2020]. However, under normal non-stress conditions, its expression in vegetative cells remains very low but is rapidly and strongly induced in response to abiotic stress [nunez-vazquez_histone_2025].```

### <span style="color:black">Add localization</span>

```H3.14 is exclusively localized in euchromatin (colocalizes with H3K4me3) and is highly dynamic, with a fast turnover rate dependent on active transcription [nunez-vazquez_histone_2025].```

### <span style="color:black">Add deposition</span>

```H3.14 deposition is independent of the major histone chaperones CAF-1 (for H3.1) and HIRA (for H3.3), suggesting a unique incorporation pathway [nunez-vazquez_histone_2025].```

In [31]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.14_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.14_(Arabidopsis),variant_group,Arabidopsis,3701,None,H3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [32]:
data_histone_description = {
    "summary": "H3.14_(Arabidopsis) is a specialized histone variant in Arabidopsis (encoded by the HTR14 gene) dedicated to managing the trade-off between growth and stress survival at the chromatin level. Rapid expression of HTR14 is induced by various abiotic stresses (e.g., salt, osmotic stress, oxidative stress, ABA) in a subset of responsive cells of the root transition zone [nunez-vazquez_histone_2025]. Its accumulation peaks during the growth arrest and quiescent phases of the stress response and declines before recovery.",
    "taxonomy": None,
    "genes": None,
    "evolution": None,
    "expression": "H3.14 is expressed in both vegetative tissues and reproductive structures, including the vegetative nucleus of mature pollen, the central cell, and the antipodes of the female gametophyte [nunez-vazquez_histone_2025, probst_similar_2020]. However, under normal non-stress conditions, its expression in vegetative cells remains very low but is rapidly and strongly induced in response to abiotic stress [nunez-vazquez_histone_2025].",
    "knock_out": None,
    "function": "H3.14 plays a dual role in the transcriptional reprogramming during the early stress response. It activates stress-responsive genes and represses growth- and development-related genes [nunez-vazquez_histone_2025].",
    "sequence": None,
    "localization": "H3.14 is exclusively localized in euchromatin (colocalizes with H3K4me3) and is highly dynamic, with a fast turnover rate dependent on active transcription [nunez-vazquez_histone_2025].",
    "deposition": "H3.14 deposition is independent of the major histone chaperones CAF-1 (for H3.1) and HIRA (for H3.3), suggesting a unique incorporation pathway [nunez-vazquez_histone_2025].",
    "structure": None,
    "interactions": None,
    "disease": None,
    "caveats": None,
}
cursor.execute(add_histone_description, tuple(data_histone_description.values()))

histone_description_id = cursor.lastrowid
query = (
    f"UPDATE histone SET description={histone_description_id} WHERE id='H3.14_(Arabidopsis)'"
)
cursor.execute(query)

In [33]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.14_(Arabidopsis)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.14_(Arabidopsis),variant_group,Arabidopsis,3701,251,H3,251,H3.14_(Arabidopsis) is a specialized histone v...,None,None,...,None,H3.14 plays a dual role in the transcriptional...,None,H3.14 is exclusively localized in euchromatin ...,H3.14 deposition is independent of the major h...,None,None,None,None,None

In [34]:
df["expression"].values

array(['H3.14 is expressed in both vegetative tissues and reproductive structures, including the vegetative nucleus of mature pollen, the central cell, and the antipodes of the female gametophyte [nunez-vazquez_histone_2025, probst_similar_2020]. However, under normal non-stress conditions, its expression in vegetative cells remains very low but is rapidly and strongly induced in response to abiotic stress [nunez-vazquez_histone_2025].'],
      dtype=object)

In [35]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3.Y_(Primates)</span>

### <span style="color:black">Add summary</span>

```H3.Y_(Primates) is a primate-specific histone H3 variant. Studies on human tissues demonstrate that H3.Y expression is detected at low levels in certain cell lines (e.g., osteosarcoma U2OS), in several normal (brain, testis) and malignant tissues, as well as during early embryonic cleavage stages [ding_primate-specific_2021, talbert_histone_2021, resnick_dux4-induced_2019]. However, the precise physiological functions of H3.Y remain poorly understood.```

### <span style="color:black">Add genes</span>

```The H3.Y variant is encoded by two intron-free genes homologous to human H3Y1 and H3Y2 [wiedemann_identification_2010].```

In [37]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.Y_(Primates),variant_group,Primates,9443,137,H3,137,H3.Y is involved in memory formation due to it...,null,null,...,null,null,null,null,null,null,null,null,null,None

In [40]:
df.to_dict(orient='records')

[{'id': 137,
  'level': 'variant_group',
  'taxonomic_span': 'Primates',
  'taxonomic_span_id': '9443',
  'description': 137,
  'parent': 'H3',
  'summary': 'H3.Y is involved in memory formation due to its presence in neurons in human hippocampus. One splice isoform has an extended C-terminal alpha tail that may interacts with the H2A.Z acidic patch',
  'taxonomy': 'null',
  'genes': 'null',
  'evolution': 'null',
  'expression': 'null',
  'knock_out': 'null',
  'function': 'null',
  'sequence': 'null',
  'localization': 'null',
  'deposition': 'null',
  'structure': 'null',
  'interactions': 'null',
  'disease': 'null',
  'caveats': 'null',
  'relations': None}]

In [42]:
desc_dict = {
    "summary": "H3.Y_(Primates) is a primate-specific histone H3 variant. Studies on human tissues demonstrate that H3.Y expression is detected at low levels in certain cell lines (e.g., osteosarcoma U2OS), in several normal (brain, testis) and malignant tissues, as well as during early embryonic cleavage stages [ding_primate-specific_2021, talbert_histone_2021, resnick_dux4-induced_2019]. However, the precise physiological functions of H3.Y remain poorly understood.",
    "taxonomy": None,
    "genes": "The H3.Y variant is encoded by two intron-free genes homologous to human H3Y1 and H3Y2 [wiedemann_identification_2010].",
    "evolution": None,
    "expression": None,
    "knock_out": None,
    "function":None,
    "sequence": None,
    "localization": None,
    "deposition": None,
    "structure": None,
    "interactions": None,
    "disease": None,
    "caveats": None,
}
desk_str = ', '.join([f'{k}="{v}"' for k, v in desc_dict.items()])
query = (
    f"UPDATE histone_description SET {desk_str} "
    "WHERE id = 137"
)
print(query)
cursor.execute(query)

UPDATE histone_description SET summary="H3.Y_(Primates) is a primate-specific histone H3 variant. Studies on human tissues demonstrate that H3.Y expression is detected at low levels in certain cell lines (e.g., osteosarcoma U2OS), in several normal (brain, testis) and malignant tissues, as well as during early embryonic cleavage stages [ding_primate-specific_2021, talbert_histone_2021, resnick_dux4-induced_2019]. However, the precise physiological functions of H3.Y remain poorly understood.", taxonomy="None", genes="The H3.Y variant is encoded by two intron-free genes homologous to human H3Y1 and H3Y2 [wiedemann_identification_2010].", evolution="None", expression="None", knock_out="None", function="None", sequence="None", localization="None", deposition="None", structure="None", interactions="None", disease="None", caveats="None" WHERE id = 137

In [43]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df.to_dict(orient='records')

[{'id': 137,
  'level': 'variant_group',
  'taxonomic_span': 'Primates',
  'taxonomic_span_id': '9443',
  'description': 137,
  'parent': 'H3',
  'summary': 'H3.Y_(Primates) is a primate-specific histone H3 variant. Studies on human tissues demonstrate that H3.Y expression is detected at low levels in certain cell lines (e.g., osteosarcoma U2OS), in several normal (brain, testis) and malignant tissues, as well as during early embryonic cleavage stages [ding_primate-specific_2021, talbert_histone_2021, resnick_dux4-induced_2019]. However, the precise physiological functions of H3.Y remain poorly understood.',
  'taxonomy': 'None',
  'genes': 'The H3.Y variant is encoded by two intron-free genes homologous to human H3Y1 and H3Y2 [wiedemann_identification_2010].',
  'evolution': 'None',
  'expression': 'None',
  'knock_out': 'None',
  'function': 'None',
  'sequence': 'None',
  'localization': 'None',
  'deposition': 'None',
  'structure': 'None',
  'interactions': 'None',
  'disease': 'None',
  'caveats': 'None',
  'relations': None}]

In [44]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3.Y.1_(Primates)</span>

### <span style="color:black">Add summary</span>

```H3.Y.1_(Primates) is a primate-specific histone H3 variant encoded by the gene homologous to human H3Y1 [wiedemann_identification_2010].```

In [45]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y.1_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.Y.1_(Primates),variant,Primates,9443,None,H3.Y_(Primates),None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [47]:
summary_desc = "H3.Y.1_(Primates) is a primate-specific histone H3 variant encoded by the gene homologous to human H3Y1 [wiedemann_identification_2010]."
cursor.execute(add_histone_description, (summary_desc,)+(None,)*13)

histone_description_id = cursor.lastrowid
query = (
    f"UPDATE histone SET description={histone_description_id} WHERE id='H3.Y.1_(Primates)'"
)
cursor.execute(query)

In [48]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y.1_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.Y.1_(Primates),variant,Primates,9443,252,H3.Y_(Primates),252,H3.Y.1_(Primates) is a primate-specific histon...,None,None,...,None,None,None,None,None,None,None,None,None,None

In [49]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Add description to H3.Y.2_(Primates)</span>

### <span style="color:black">Add summary</span>

```H3.Y.2_(Primates) is a primate-specific histone H3 variant (also known as H3.X) encoded by the gene homologous to human H3Y [wiedemann_identification_2010].```

In [50]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y.2_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.Y.2_(Primates),variant,Primates,9443,None,H3.Y_(Primates),None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [51]:
summary_desc = "H3.Y.2_(Primates) is a primate-specific histone H3 variant (also known as H3.X) encoded by the gene homologous to human H3Y [wiedemann_identification_2010]."
cursor.execute(add_histone_description, (summary_desc,)+(None,)*13)

histone_description_id = cursor.lastrowid
query = (
    f"UPDATE histone SET description={histone_description_id} WHERE id='H3.Y.2_(Primates)'"
)
cursor.execute(query)

In [52]:
query = (
    "SELECT * FROM histone h LEFT JOIN histone_description hd "
    "ON h.description = hd.id "
    "WHERE h.id='H3.Y.2_(Primates)'"
)
cursor.execute(query)
df = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])
df

,id,level,taxonomic_span,taxonomic_span_id,description,parent,id,summary,taxonomy,genes,...,knock_out,function,sequence,localization,deposition,structure,interactions,disease,caveats,relations
0,H3.Y.2_(Primates),variant,Primates,9443,253,H3.Y_(Primates),253,H3.Y.2_(Primates) is a primate-specific histon...,None,None,...,None,None,None,None,None,None,None,None,None,None

In [53]:
# Make sure data is committed to the database
conn.commit()

## <span style="color:black">Alternate name H3.X set to H3.Y.2_(Primates) and H3.Y.2_(Homo_sapiens)</span>`

In [54]:
query = (
    "SELECT * FROM alternative_name "
    "WHERE name='H3.X'"
)
cursor.execute(query)
pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])

   id  name taxonomy gene splice          histone
0  74  H3.X     None    2   None  H3.Y_(Primates)

In [55]:
query = "UPDATE alternative_name SET histone='H3.Y.2_(Primates)' WHERE name='H3.X'"
print(query)
cursor.execute(query)

UPDATE alternative_name SET histone='H3.Y.2_(Primates)' WHERE name='H3.X'

In [56]:
query = (
    "SELECT * FROM alternative_name "
    "WHERE name='H3.X'"
)
cursor.execute(query)
pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])

   id  name taxonomy gene splice            histone
0  74  H3.X     None    2   None  H3.Y.2_(Primates)

In [58]:
data_alternate_names = {
    "name": "H3.X",
    "taxonomy": "Homo_sapiens",
    "gene": 2,
    "splice": None,
    "histone": "H3.Y.2_(Homo_sapiens)",
}
cursor.execute(add_alternate_names, data_alternate_names)

In [68]:
query = "UPDATE alternative_name SET taxonomy='Primates' WHERE id=74"
print(query)
cursor.execute(query)

UPDATE alternative_name SET taxonomy='Primates' WHERE id=74

In [69]:
query = (
    "SELECT * FROM alternative_name "
    "WHERE name='H3.X'"
)
cursor.execute(query)
pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])

    id  name      taxonomy gene splice                histone
0   74  H3.X      Primates    2   None      H3.Y.2_(Primates)
1  119  H3.X  Homo_sapiens    2   None  H3.Y.2_(Homo_sapiens)

In [70]:
# Make sure data is committed to the database
conn.commit()

# Close connections

In [71]:
cursor.close()
conn.close()
tunnel.stop()