In [1]:
%cd '..'

/mnt/scratch/l_singh/hdb/project_dir/histonedb/CURATED_SET

In [2]:
import os, re, sys, inspect
import pandas as pd

from Bio import SeqIO, Entrez

from curated_set_services import CuratedSet

In [3]:
#Load data from histones.csv
curated_set = CuratedSet()
cs=curated_set

cs.data.shape, cs.data.columns

((497, 16),
 Index(['accession', 'type', 'variant_group', 'variant', 'doublet', 'gi',
        'ncbi_gene_id', 'hgnc_gene_name', 'taxonomy_id', 'organism', 'phylum',
        'class', 'taxonomy_group', 'info', 'references', 'sequence'],
       dtype='object'))

In [4]:
list(cs.has_duplicates())

[]

In [5]:
cs.data.head()

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_505463.1,NP_505463.1,H2A,cH2A,cH2A_(Animals),,17562014,,,6239,Caenorhabditis elegans,Nematoda,Chromadorea,,,26989147 22650316(?),MSGRGKGGKAKTGGKAKSRSSRAGLQFPVGRLHRILRKGNYAQRVG...
EEC09557.1,EEC09557.1,H2A,cH2A,cH2A_(Animals),,215500063,,,6945,Ixodes scapularis,Arthropoda,Arachnida,,,26989147 22650316(?),MSGRGKGGKVKGKSKTRSSRAGLQFPVGRIHRLLRKGNYAERVGAG...
NP_724343.1,NP_724343.1,H2A,cH2A,cH2A_(Animals),,24585673,,,7227,Drosophila melanogaster,Arthropoda,Insecta,,,26989147 22650316(?),MSGRGKGGKVKGKAKSRSNRAGLQFPVGRIHRLLRKGNYAERVGAG...
XP_001119899.1,XP_001119899.1,H2A,cH2A,cH2A_(Animals),,110764935,,,7460,Apis mellifera,Arthropoda,Insecta,,,26989147 22650316(?),MSGRGKGGKAKAKAKSRSNRAGLQFPVGRIHRLLRKGNYAERVGAG...
EDO48405.1,EDO48405.1,H2A,cH2A,cH2A_(Animals),,156227602,,,45351,Nematostella vectensis,Cnidaria,Anthozoa,,,26989147 22650316(?),MSGRGKGKAKGTKSKTRSSRAGLQFPVGRIHRHLRKGNYAERVGAG...

In [6]:
df = pd.read_csv('curated_service/h2bo_histones.csv')
df.index = df.accession
df.shape, df.columns

((3, 3), Index(['name', 'sequence', 'accession'], dtype='object'))

In [7]:
df = df[['accession', 'sequence']]
df['type'] = ['H2B']*df.shape[0]
df['variant_group'] = ['H2B.O']*df.shape[0]
df['variant'] = ['H2B.O']*df.shape[0]
df['references'] = ['35099534']*df.shape[0]
df = df[['accession', 'type', 'variant_group', 'variant', 'references', 'sequence']]
df.head()

,accession,type,variant_group,variant,references,sequence
accession,,,,,,
XP_001521160.2,XP_001521160.2,H2B,H2B.O,H2B.O,35099534,WENYVYKVLKQVHPLTSISTKAVGIVDSFIDIFKRITSDASHLARY...
XP_001511074.1,XP_001511074.1,H2B,H2B.O,H2B.O,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFERIASEASRLAR...
XP_028926523.1,XP_028926523.1,H2B,H2B.O,H2B.O,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFDRIASEASRLAR...

In [8]:
cs.data = pd.concat([cs.data, df]).fillna('')
cs.data.shape, list(cs.has_duplicates())

((500, 16), [])

In [9]:
cs.data.tail()

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_005311.1,NP_005311.1,H1,H1.3,H1.3_(Homo_sapiens)__???,,,3007.0,H1-3,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MSETAPLAPTIPAPAEKTPVKKKAKKAGATAGKRKASGPPVSELIT...
NP_861453.1,NP_861453.1,H1,H1.7,H1.7_(Homo_sapiens)__???,,,341567.0,H1-7,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MEQALTGEAQSRWPRRGGSGAMAEAPGPSGESRGHSATQLPAEKTV...
XP_001521160.2,XP_001521160.2,H2B,H2B.O,H2B.O,,,,,,,,,,,35099534,WENYVYKVLKQVHPLTSISTKAVGIVDSFIDIFKRITSDASHLARY...
XP_001511074.1,XP_001511074.1,H2B,H2B.O,H2B.O,,,,,,,,,,,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFERIASEASRLAR...
XP_028926523.1,XP_028926523.1,H2B,H2B.O,H2B.O,,,,,,,,,,,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFDRIASEASRLAR...

In [10]:
cs.data[cs.data['variant']=='H2B.O'].shape

(3, 16)

In [11]:
cs.update_accession_version()
cs.data=cs.data.set_index(cs.data.accession.values)

/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/Entrez/__init__.py:658: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  warnings.warn(
/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/GenBank/__init__.py:1143: BiopythonParserWarning: Dropping bond qualifier in feature location
  warnings.warn(
/mnt/scratch/l_singh/hdb/project_dir/histonedb/CURATED_SET/curated_set_services.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updating_data['accession'] = new_accessions

In [13]:
cs.data[cs.data['variant']=='H2B.O'].shape

(3, 16)

In [14]:
curated_set.update_taxids(blank_data=True)

Fetched taxid from NCBI 9258
Fetched taxid from NCBI 9258
Fetched taxid from NCBI 9258
 changes to 9258
 changes to Ornithorhynchus anatinus
 changes to Chordata
 changes to Mammalia
 changes to 9258
 changes to Ornithorhynchus anatinus
 changes to Chordata
 changes to Mammalia
 changes to 9258
 changes to Ornithorhynchus anatinus
 changes to Chordata
 changes to Mammalia

In [15]:
cs.data[cs.data['variant']=='H2B.O'].shape

(3, 16)

In [16]:
cs.data[cs.data['variant']=='H2B.O']

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
XP_001521160.2,XP_001521160.2,H2B,H2B.O,H2B.O,,,,,9258,Ornithorhynchus anatinus,Chordata,Mammalia,,,35099534,WENYVYKVLKQVHPLTSISTKAVGIVDSFIDIFKRITSDASHLARY...
XP_001511074.1,XP_001511074.1,H2B,H2B.O,H2B.O,,,,,9258,Ornithorhynchus anatinus,Chordata,Mammalia,,,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFERIASEASRLAR...
XP_028926523.1,XP_028926523.1,H2B,H2B.O,H2B.O,,,,,9258,Ornithorhynchus anatinus,Chordata,Mammalia,,,35099534,YSIYVYKVLKQVHPLTSISTKAVGIMDSFINDIFDRIASEASRLAR...

In [17]:
cs.save()

Added sequence with accession XP_028926523.1
Added sequence with accession XP_001511074.1
Added sequence with accession XP_001521160.2
cp histones.csv backups/histones.csv-Jul0423184814
Previous data backuped to backups/histones.csv-Jul0423184814
Results saved to histones.csv