In [1]:
import os, re, sys
import pandas as pd

from Bio import SeqIO, Entrez

In [23]:
handle= Entrez.efetch(db="protein", id='XP_002913536.1', rettype="gb", retmode="text")
data = list(SeqIO.parse(handle, "gb"))
data[0]

SeqRecord(seq=Seq('MSGKKSHESSYQTQAHLITTELQVPVSYVDRLLQENQYNHPLSSSTTDFLLTML...RNG'), id='XP_002913536.1', name='XP_002913536', description='huntingtin-interacting protein M [Ailuropoda melanoleuca]', dbxrefs=['BioProject:PRJNA633539'])

In [7]:
for acc in ['XP_012928609.2', 'NP_001035891.1', 'XP_002763866.2']:
    print(f"ACCESSION {acc}\n{cs.data.loc[cs.data['accession']==acc]['sequence'].values}\n--------------------------------------------------------------------------------------------------------")

ACCESSION XP_012928609.2
['MFDVFGRDKGGKVLDKGRAKRHPKVLRGNIQGITKPAISRLARRSGVKRISGLICEETRGVLKVFRMETMIRDIVIYAEHAKRETVTAMDVVYTLKXQGRTLYGFGELSSCINREASQRFIRLLSVCSITHTKQAARKSTCGKTPRKQLATRAACKSXVKKPHRYRAGTEALREIRRYQKFTKLLIRKLPFQRLVREIAQDFKTDLRFQSSAVMALHEASEAYLVGLFEDTNLLLISSQLLAMSGRGKGGKGLGKGGAKRHRKVLRDNIQGITKPAIRRLARRGGVKRISGLIYEETRGVLKVFLENVIRDAVTYTEHAKRKTVTAMDVVYALKRQGRTLYGFGG']
--------------------------------------------------------------------------------------------------------
ACCESSION NP_001035891.1
['MGPRRRSRKPEAPRRRSPSPTPTPGPSRRGPSLGASSHQHSRRRQGWLKEIRKLQKSTHLLIRKLPFSRLAAEAFLVHLFEDAYLLTLHAGRVTLFPKDVQLARRIRGLEEGLG']
--------------------------------------------------------------------------------------------------------
ACCESSION XP_002763866.2
['MSERRSRRGSSAAGRRGHTRSRTARAELIFSVSKMERGLWEGHYAQRLSDNAPVYLAAVIQYLTAKILELAAKGADNRGERIITPRLLDMAVHNDGLLSTLFHAITISQVGPGPN']
--------------------------------------------------------------------------------------------------------

In [17]:
new_seqs = {'accession': [],
            'type': [],
            'variant_group': [],
            'variant': [],
            'doublet': [],
            'references': [],
            'sequence': []}
# df = df.append({'A': [1,2,3], 'B': [1,2,3]}, ignore_index=True)

           A          B    C
0  [1, 2, 3]  [1, 2, 3]  NaN

In [117]:
df = pd.concat([pd.read_csv('viral_histones.csv').fillna(''), pd.read_csv('mag_histones.csv').fillna('')])
df.shape

(120, 7)

In [118]:
df.index = list(map(lambda x: str(x).split('.')[0], df.accession))
df.head()

,accession,type,variant_group,variant,doublet,references,comment
AAV98010,AAV98010.1,Viral_H4,,,singlet,35624484,
YP_009665791,YP_009665791.1,Viral_H4,,,singlet,35624484,
AGL91659,AGL91659.1,Viral_H4,,,singlet,35624484,
AFN42307,AFN42307.1,Viral_H4,,,singlet,35624484,
BCU02668,BCU02668.1,Viral_H2B,,,singlet,35624484,

In [73]:
handle= Entrez.efetch(db="protein", id=','.join(df['accession']), rettype="gb", retmode="text")
data = list(SeqIO.parse(handle, "gb"))

/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/Entrez/__init__.py:658: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  warnings.warn(

In [21]:
for d in data:
    print(f"{d.id}: {d.features[0].qualifiers['organism'][0]}, {d.features[0].qualifiers['db_xref'][0].split(':')[1]}")

AAV98010.1: Cotesia plutellae polydnavirus, 256130
YP_009665791.1: Bracoviriform glomeratae, 257816
AGL91659.1: Cotesia sesamiae bracovirus, 452647
AFN42307.1: Cotesia sesamiae Mombasa bracovirus, 452649
BCU02668.1: Pandoravirus japonicus, 2823154
YP_008319525.2: Pandoravirus dulcis, 1349409
YP_009483470.1: Pandoravirus quercus, 2107709
QBZ81372.1: Pandoravirus celtis, 2568002
YP_008437980.1: Pandoravirus salinus, 1349410
YP_009481299.1: Pandoravirus macleodensis, 2107707
YP_009482227.1: Pandoravirus neocaledonia, 2107708
YP_009119582.1: Pandoravirus inopinatum, 1605721
DAC81234.1: Manila clam xenomavirus, 2707311
YP_009465730.1: Dishui lake phycodnavirus 1, 2079134
YP_009046636.1: Armadillidium vulgare iridescent virus, 72201
AAN04299.1: Heliothis zea nudivirus 1, 3116536
YP_004956749.1: Helicoverpa zea nudivirus 2, 1128424
YP_003407138.1: Marseillevirus marseillevirus, 694581
YP_003407137.1: Marseillevirus marseillevirus, 694581
YP_003406909.1: Marseillevirus marseillevirus, 694581
YP_009094870.1: Melbournevirus, 1560514
YP_009094869.1: Melbournevirus, 1560514
YP_009094650.1: Melbournevirus, 1560514
AGV01788.1: Cannes 8 virus, 1394979
AGV01787.1: Cannes 8 virus, 1394979
AGV01521.1: Cannes 8 virus, 1394979
YP_009254841.1: Tokyovirus A1, 1826170
YP_009254842.1: Tokyovirus A1, 1826170
YP_009254950.1: Tokyovirus A1, 1826170
YP_004347348.1: Lausannevirus, 999883
YP_004347349.1: Lausannevirus, 999883
YP_004347019.1: Lausannevirus, 999883
ALH07047.1: Port-miou virus, 1733873
ALH07048.1: Port-miou virus, 1733873
ALH06745.1: Port-miou virus, 1733873
AQQ73805.1: Kurlavirus BKC-1, 1958810
AQQ73806.1: Kurlavirus BKC-1, 1958810
AQQ73899.1: Kurlavirus BKC-1, 1958810
YP_009345224.1: Noumeavirus, 1955558
YP_009345223.1: Noumeavirus, 1955558
YP_009345564.1: Noumeavirus, 1955558
YP_009507074.1: Tunisvirus fontaine2, 1421067
YP_009507075.1: Tunisvirus fontaine2, 1421067
YP_009506807.1: Tunisvirus fontaine2, 1421067
AHA45913.1: Insectomime virus, 1370065
AHA45912.1: Insectomime virus, 1370065
AHA46167.1: Insectomime virus, 1370065
YP_009238942.1: Brazilian marseillevirus, 1813599
YP_009238943.1: Brazilian marseillevirus, 1813599
YP_009238664.1: Brazilian marseillevirus, 1813599
YP_004732864.1: Wiseana iridescent virus, 68347
YP_008357430.1: Invertebrate iridescent virus 22, 345198
YP_009010674.1: Invertebrate iridovirus 25, 1301280
CCV02330.1: Invertebrate iridescent virus 30, 345585
YP_009021202.1: Anopheles minimus iridovirus, 1465751
BBI30394.1: Acanthamoeba castellanii medusavirus J1, 3114988
BBI30395.1: Acanthamoeba castellanii medusavirus J1, 3114988
BBI30201.1: Acanthamoeba castellanii medusavirus J1, 3114988
BBI30458.1: Acanthamoeba castellanii medusavirus J1, 3114988
BBI30246.1: Acanthamoeba castellanii medusavirus J1, 3114988
QPB44421.1: Medusavirus stheno T3, 3069717
QPB44246.1: Medusavirus stheno T3, 3069717
QPB44482.1: Medusavirus stheno T3, 3069717
QYA18737.1: Clandestinovirus, 2831644
QYA18687.1: Clandestinovirus, 2831644
QYA18726.1: Clandestinovirus, 2831644
QYA18369.1: Clandestinovirus, 2831644
AYV87056.1: Sylvanvirus sp., 2487774
QBK85672.1: Marseillevirus LCMAC101, 2506602
QBK85671.1: Marseillevirus LCMAC101, 2506602
QBK85837.1: Marseillevirus LCMAC101, 2506602
QBK85747.1: Marseillevirus LCMAC101, 2506602
QBK86460.1: Marseillevirus LCMAC102, 2506603
QBK86552.1: Marseillevirus LCMAC102, 2506603
QBK86551.1: Marseillevirus LCMAC102, 2506603
QBK87604.1: Marseillevirus LCMAC201, 2506605
QBK88134.1: Marseillevirus LCMAC202, 2506606
QBK89657.1: Pithovirus LCPAC001, 2506585
QBK90105.1: Pithovirus LCPAC102, 2506587
QBK91701.1: Pithovirus LCPAC304, 2506594
QBK91785.1: Pithovirus LCPAC304, 2506594
QBK91702.1: Pithovirus LCPAC304, 2506594
QBK91784.1: Pithovirus LCPAC304, 2506594
QBK92361.1: Pithovirus LCPAC304, 2506594
QBK91898.1: Pithovirus LCPAC304, 2506594
ARF09917.1: Indivirus ILV1, 1977633
ARF11920.1: Klosneuvirus KNV1, 1977640

In [119]:
organisms = []
for d in data:
    df.at[d.id.split('.')[0], 'taxid'] = d.features[0].qualifiers['db_xref'][0].split(':')[1]
    df.at[d.id.split('.')[0], 'organism'] = d.features[0].qualifiers['organism'][0]
df.head()

,accession,type,variant_group,variant,doublet,references,comment,taxid,organism
AAV98010,AAV98010.1,Viral_H4,,,singlet,35624484,,256130,Cotesia plutellae polydnavirus
YP_009665791,YP_009665791.1,Viral_H4,,,singlet,35624484,,257816,Bracoviriform glomeratae
AGL91659,AGL91659.1,Viral_H4,,,singlet,35624484,,452647,Cotesia sesamiae bracovirus
AFN42307,AFN42307.1,Viral_H4,,,singlet,35624484,,452649,Cotesia sesamiae Mombasa bracovirus
BCU02668,BCU02668.1,Viral_H2B,,,singlet,35624484,,2823154,Pandoravirus japonicus

In [120]:
df.tail()

,accession,type,variant_group,variant,doublet,references,comment,taxid,organism
contig_2859_48,contig_2859_48,MAG_other + (H2B?) + H2A,,,doublet,35624484 22891861,,NaN,NaN
contig_44073_13,contig_44073_13,MAG_(HFD? + H2B? )+ H2A,,,doublet,35624484 22891861,,NaN,NaN
ARF09917,ARF09917.1,MAG_H2A-H2B,,,doublet,35624484 16494962,,1977633,Indivirus ILV1
ARF11920,ARF11920.1,MAG_H2A-H2B,,,doublet,35624484 16494962,,1977640,Klosneuvirus KNV1
,,,,,,,,NaN,NaN

In [121]:
df = df[~df['accession'].str.startswith('contig')]
# i = 0
# for df_index in df.index:
#     if df_index.startswith('contig'):
#         df.at[df_index, 'accession'] = f'HISTDB_viral_{i}'
#         i+=1
# df.index = list(map(lambda x: str(x).split('.')[0], df.accession))
# df.head()

In [122]:
df.tail()

,accession,type,variant_group,variant,doublet,references,comment,taxid,organism
QBK92361,QBK92361.1,MAG_H4,,,singlet,35624484 20551688,,2506594,Pithovirus LCPAC304
QBK91898,QBK91898.1,MAG_H1 + WWE,,,singlet,35624484 20551688,"Contains a WWE-domain, a protein interaction d...",2506594,Pithovirus LCPAC304
ARF09917,ARF09917.1,MAG_H2A-H2B,,,doublet,35624484 16494962,,1977633,Indivirus ILV1
ARF11920,ARF11920.1,MAG_H2A-H2B,,,doublet,35624484 16494962,,1977640,Klosneuvirus KNV1
,,,,,,,,NaN,NaN

In [123]:
replace_dict = {
    'Viral_Hb-Ha': 'Viral_H2B-H2A',
    'Viral_Hd-Hg': 'Viral_H4-H3',
    'Viral_Hz-He': 'Viral_miniH2B-H2A',
}
df.type = df.type.replace(replace_dict)

In [124]:
df.at['QYA18369', 'type'] = 'Viral_H1'
df.at['QBK91898', 'type'] = 'Viral_H1'

In [125]:
df.type = [t.replace('MAG', 'Viral').replace('+', '-') for t in df.type]

In [130]:
df.at['KT835053', 'comment'] = ''

In [131]:
set(df.type)

{'',
 'Viral_H1',
 'Viral_H1-other',
 'Viral_H2A',
 'Viral_H2A-H2B',
 'Viral_H2B',
 'Viral_H2B-H2A',
 'Viral_H2B-H2A-H3',
 'Viral_H2B-H2A-H3-H4',
 'Viral_H2B-H2A-other',
 'Viral_H3',
 'Viral_H3-H4',
 'Viral_H4',
 'Viral_H4-H3',
 'Viral_miniH2B-H2A',
 'Viral_other-H4-H3'}

In [132]:
set(df.references)

{'', 35624484, '35624484 16494962', '35624484 20551688', '35624484 25150594'}

In [133]:
set(df.comment)

{'',
 'Contains a WWE-domain, a protein interaction domain that is associated with enzymes in ubiquitin and ADP-ribose conjugation systems'}

In [135]:
df.columns

Index(['accession', 'type', 'variant_group', 'variant', 'doublet',
       'references', 'comment', 'taxid', 'organism'],
      dtype='object')

In [136]:
df = df[['accession', 'type', 'variant_group', 'variant', 'doublet', 'taxid', 'organism', 'references', 'comment']]
df.to_csv('viral_histones_all.csv', index=False)