In [ ]:
%cd '..'

In [2]:
import inspect
import os
import re
import sys

import pandas as pd
from Bio import Entrez, SeqIO
from curated_set_services import CuratedSet

In [3]:
# Load data from histones.csv
curated_set = CuratedSet()
cs = curated_set

cs.data.shape, cs.data.columns

((571, 16),
 Index(['accession', 'type', 'variant_group', 'variant', 'doublet', 'gi',
        'ncbi_gene_id', 'hgnc_gene_name', 'taxonomy_id', 'organism', 'phylum',
        'class', 'taxonomy_group', 'info', 'references', 'sequence'],
       dtype='object'))

In [4]:
list(cs.has_duplicates())

[]

In [5]:
cs.data[cs.data["accession"] == "NP_835502.1"]

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,24506885,MPEPAKSAPAPKKGSKKAVTKAQKKDGKKRKRSRKESYSVYVYKVL...

In [6]:
cs.data.head()

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_505463.1,NP_505463.1,H2A,cH2A,cH2A_(Animals),,17562014,,,6239,Caenorhabditis elegans,Nematoda,Chromadorea,,,26989147 22650316(?),MSGRGKGGKAKTGGKAKSRSSRAGLQFPVGRLHRILRKGNYAQRVG...
EEC09557.1,EEC09557.1,H2A,cH2A,cH2A_(Animals),,215500063,,,6945,Ixodes scapularis,Arthropoda,Arachnida,,,26989147 22650316(?),MSGRGKGGKVKGKSKTRSSRAGLQFPVGRIHRLLRKGNYAERVGAG...
NP_724343.1,NP_724343.1,H2A,cH2A,cH2A_(Animals),,24585673,,,7227,Drosophila melanogaster,Arthropoda,Insecta,,,26989147 22650316(?),MSGRGKGGKVKGKAKSRSNRAGLQFPVGRIHRLLRKGNYAERVGAG...
XP_001119899.1,XP_001119899.1,H2A,cH2A,cH2A_(Animals),,110764935,,,7460,Apis mellifera,Arthropoda,Insecta,,,26989147 22650316(?),MSGRGKGGKAKAKAKSRSNRAGLQFPVGRIHRLLRKGNYAERVGAG...
EDO48405.1,EDO48405.1,H2A,cH2A,cH2A_(Animals),,156227602,,,45351,Nematostella vectensis,Cnidaria,Anthozoa,,,26989147 22650316(?),MSGRGKGKAKGTKSKTRSSRAGLQFPVGRIHRHLRKGNYAERVGAG...

In [7]:
cs.data.shape

(570, 16)

In [8]:
cH2B1_accessions = [
    "NP_835502.1",
]

In [9]:
df = pd.DataFrame(
    {
        "accession": cH2B1_accessions,
        "type": ["H2B"] * len(cH2B1_accessions),
        "variant_group": ["cH2B.1_(Mus_musculus)"] * len(cH2B1_accessions),
        "variant": ["cH2B.1_(Mus_musculus)"] * len(cH2B1_accessions),
        "references": ["24506885"] * len(cH2B1_accessions),
    }
)
df.index = df.accession
df.shape, df.columns

((1, 5),
 Index(['accession', 'type', 'variant_group', 'variant', 'references'], dtype='object'))

In [10]:
df.head()

,accession,type,variant_group,variant,references
accession,,,,,
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),24506885

In [11]:
cs.data = pd.concat([cs.data, df]).fillna("")
cs.data.shape, list(cs.has_duplicates())

((571, 16), [])

In [12]:
cs.data.tail()

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_005311.1,NP_005311.1,H1,H1.3,H1.3_(Homo_sapiens)__???,,,3007.0,H1-3,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MSETAPLAPTIPAPAEKTPVKKKAKKAGATAGKRKASGPPVSELIT...
NP_005316.1,NP_005316.1,H1,H1.1,H1.1_(Homo_sapiens)__???,,,3024.0,H1-1,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MSETVPPAPAASAAPEKPLAGKKAKKPAKAAAASKKKPAGPSVSEL...
NP_005314.2,NP_005314.2,H1,H1.6,H1.6_(Homo_sapiens)__???,,,3010.0,H1-6,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MSETVPAASASAGVAAMEKLPTKKRGRKPAGLISASRKVPNLSVSK...
NP_005310.1,NP_005310.1,H1,H1.2,H1.2_(Homo_sapiens)__???,,,3006.0,H1-2,9606,Homo sapiens,Chordata,Mammalia,Mammalia,,26689747,MSETAPAAPAAAPPAEKAPVKKKAAKKAGGTPRKASGPPVSELITK...
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,,,,,,,24506885,

In [13]:
cs.data[cs.data["variant"] == "cH2B.1_(Mus_musculus)"].shape

(2, 16)

In [14]:
cs.update_accession_version()
cs.data = cs.data.set_index(cs.data.accession.values)

/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/Entrez/__init__.py:658: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  warnings.warn(
/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/GenBank/__init__.py:1143: BiopythonParserWarning: Dropping bond qualifier in feature location
  warnings.warn(
/mnt/scratch/v_kulikov/histonedb_Vladimir/CURATED_SET/curated_set_services.py:283: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updating_data['accession'] = new_accessions

In [15]:
cs.data[cs.data["variant"] == "cH2B.1_(Mus_musculus)"].shape

(2, 16)

In [16]:
curated_set.update_taxids(blank_data=True)

Fetched taxid from NCBI 10090
 changes to 10090
 changes to Mus musculus
 changes to Chordata
 changes to Mammalia

In [17]:
cs.data[cs.data["variant"] == "cH2B.1_(Mus_musculus)"].shape

(2, 16)

In [18]:
cs.data[cs.data["variant"] == "cH2B.1_(Mus_musculus)"]

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,24506885,
CAA62299.1,CAA62299.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,8672246,MPEVAVKGATISKKGFKKAVTKTQKKEGRKRKRCRKESYSIYIYKV...

## Updating sequences for late_H2B_(Echinoidea)

In [19]:
cs.data[cs.data['sequence'] == '']

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,24506885,

In [20]:
cs.update_sequence(blank_data=True)

Downloading FASTA SeqRecords by ACCESSIONs from NCBI
Fetching 1 seqs

/home/l_singh/.conda/envs/histdb_env/lib/python3.8/site-packages/Bio/Entrez/__init__.py:658: UserWarning:
Email address is not specified.

To make use of NCBI's E-utilities, NCBI requires you to specify your
email address with each request.  As an example, if your email address
is A.N.Other@example.com, you can specify it as follows:
   from Bio import Entrez
   Entrez.email = 'A.N.Other@example.com'
In case of excessive usage of the E-utilities, NCBI will attempt to contact
a user at the email address provided before blocking access to the
E-utilities.
  warnings.warn(

Sequence for NP_835502.1 changes from  to MPEPAKSAPAPKKGSKKAVTKAQKKDGKKRKRSRKESYSVYVYKVLKQVHPDTGISSKAMGIMNSFVNDIFERIASEASRLAHYNKRSTITSREIQTAVRLLLPGELAKHAVSEGTKAVTKYTSSK
Sequences updated: 1

In [21]:
cs.data[cs.data["variant"] == "cH2B.1_(Mus_musculus)"]

,accession,type,variant_group,variant,doublet,gi,ncbi_gene_id,hgnc_gene_name,taxonomy_id,organism,phylum,class,taxonomy_group,info,references,sequence
NP_835502.1,NP_835502.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,24506885,MPEPAKSAPAPKKGSKKAVTKAQKKDGKKRKRSRKESYSVYVYKVL...
CAA62299.1,CAA62299.1,H2B,cH2B.1_(Mus_musculus),cH2B.1_(Mus_musculus),,,,,10090,Mus musculus,Chordata,Mammalia,,,8672246,MPEVAVKGATISKKGFKKAVTKTQKKEGRKRKRCRKESYSIYIYKV...

In [23]:
New_df = pd.DataFrame(
    {
        "accession": ["HISTDB_cH2B_1_0"],
        "type": ["H2B"],
        "variant_group": ["cH2B"],
        "variant": ["cH2B_(Mammalia)"],
        "taxonomy_id": [10116],
        "organism": ["Rattus norvegicus"],
        "phylum": ["Chordata"],
        "class": ["Mammalia"],
        "references": [12213818],
        "sequence": ["MPEVSAKGTTISKKGFKKAVTKTQKKEGRKRKRCREESYSIYIYKVLKQVHPDTGISSKAMSIMNSFVTDIFERIAGEASRLAHYNKRSTITSREIQTAVRLLLPGELAKHAVSEGTKAVTKYTSSK"],
    }
)

In [24]:
cs.data = pd.concat([cs.data, New_df], ignore_index=True).fillna("")

In [25]:
cs.save()

Added sequence with accession 0
Added sequence with accession 1
Added sequence with accession 2
Added sequence with accession 3
Added sequence with accession 4
Added sequence with accession 5
Added sequence with accession 6
Added sequence with accession 7
Added sequence with accession 8
Added sequence with accession 9
Added sequence with accession 10
Added sequence with accession 11
Added sequence with accession 12
Added sequence with accession 13
Added sequence with accession 14
Added sequence with accession 15
Added sequence with accession 16
Added sequence with accession 17
Added sequence with accession 18
Added sequence with accession 19
Added sequence with accession 20
Added sequence with accession 21
Added sequence with accession 22
Added sequence with accession 23
Added sequence with accession 24
Added sequence with accession 25
Added sequence with accession 26
Added sequence with accession 27
Added sequence with accession 28
Added sequence with accession 29
Added sequence with accession 30
Added sequence with accession 31
Added sequence with accession 32
Added sequence with accession 33
Added sequence with accession 34
Added sequence with accession 35
Added sequence with accession 36
Added sequence with accession 37
Added sequence with accession 38
Added sequence with accession 39
Added sequence with accession 40
Added sequence with accession 41
Added sequence with accession 42
Added sequence with accession 43
Added sequence with accession 44
Added sequence with accession 45
Added sequence with accession 46
Added sequence with accession 47
Added sequence with accession 48
Added sequence with accession 49
Added sequence with accession 50
Added sequence with accession 51
Added sequence with accession 52
Added sequence with accession 53
Added sequence with accession 54
Added sequence with accession 55
Added sequence with accession 56
Added sequence with accession 57
Added sequence with accession 58
Added sequence with accession 59
Added sequence with accession 60
Added sequence with accession 61
Added sequence with accession 62
Added sequence with accession 63
Added sequence with accession 64
Added sequence with accession 65
Added sequence with accession 66
Added sequence with accession 67
Added sequence with accession 68
Added sequence with accession 69
Added sequence with accession 70
Added sequence with accession 71
Added sequence with accession 72
Added sequence with accession 73
Added sequence with accession 74
Added sequence with accession 75
Added sequence with accession 76
Added sequence with accession 77
Added sequence with accession 78
Added sequence with accession 79
Added sequence with accession 80
Added sequence with accession 81
Added sequence with accession 82
Added sequence with accession 83
Added sequence with accession 84
Added sequence with accession 85
Added sequence with accession 86
Added sequence with accession 87
Added sequence with accession 88
Added sequence with accession 89
Added sequence with accession 90
Added sequence with accession 91
Added sequence with accession 92
Added sequence with accession 93
Added sequence with accession 94
Added sequence with accession 95
Added sequence with accession 96
Added sequence with accession 97
Added sequence with accession 98
Added sequence with accession 99
Added sequence with accession 100
Added sequence with accession 101
Added sequence with accession 102
Added sequence with accession 103
Added sequence with accession 104
Added sequence with accession 105
Added sequence with accession 106
Added sequence with accession 107
Added sequence with accession 108
Added sequence with accession 109
Added sequence with accession 110
Added sequence with accession 111
Added sequence with accession 112
Added sequence with accession 113
Added sequence with accession 114
Added sequence with accession 115
Added sequence with accession 116
Added sequence with accession 117
Added sequence with accession 118
Added sequence with accession 119
Added sequence with accession 120
Added sequence with accession 121
Added sequence with accession 122
Added sequence with accession 123
Added sequence with accession 124
Added sequence with accession 125
Added sequence with accession 126
Added sequence with accession 127
Added sequence with accession 128
Added sequence with accession 129
Added sequence with accession 130
Added sequence with accession 131
Added sequence with accession 132
Added sequence with accession 133
Added sequence with accession 134
Added sequence with accession 135
Added sequence with accession 136
Added sequence with accession 137
Added sequence with accession 138
Added sequence with accession 139
Added sequence with accession 140
Added sequence with accession 141
Added sequence with accession 142
Added sequence with accession 143
Added sequence with accession 144
Added sequence with accession 145
Added sequence with accession 146
Added sequence with accession 147
Added sequence with accession 148
Added sequence with accession 149
Added sequence with accession 150
Added sequence with accession 151
Added sequence with accession 152
Added sequence with accession 153
Added sequence with accession 154
Added sequence with accession 155
Added sequence with accession 156
Added sequence with accession 157
Added sequence with accession 158
Added sequence with accession 159
Added sequence with accession 160
Added sequence with accession 161
Added sequence with accession 162
Added sequence with accession 163
Added sequence with accession 164
Added sequence with accession 165
Added sequence with accession 166
Added sequence with accession 167
Added sequence with accession 168
Added sequence with accession 169
Added sequence with accession 170
Added sequence with accession 171
Added sequence with accession 172
Added sequence with accession 173
Added sequence with accession 174
Added sequence with accession 175
Added sequence with accession 176
Added sequence with accession 177
Added sequence with accession 178
Added sequence with accession 179
Added sequence with accession 180
Added sequence with accession 181
Added sequence with accession 182
Added sequence with accession 183
Added sequence with accession 184
Added sequence with accession 185
Added sequence with accession 186
Added sequence with accession 187
Added sequence with accession 188
Added sequence with accession 189
Added sequence with accession 190
Added sequence with accession 191
Added sequence with accession 192
Added sequence with accession 193
Added sequence with accession 194
Added sequence with accession 195
Added sequence with accession 196
Added sequence with accession 197
Added sequence with accession 198
Added sequence with accession 199
Added sequence with accession 200
Added sequence with accession 201
Added sequence with accession 202
Added sequence with accession 203
Added sequence with accession 204
Added sequence with accession 205
Added sequence with accession 206
Added sequence with accession 207
Added sequence with accession 208
Added sequence with accession 209
Added sequence with accession 210
Added sequence with accession 211
Added sequence with accession 212
Added sequence with accession 213
Added sequence with accession 214
Added sequence with accession 215
Added sequence with accession 216
Added sequence with accession 217
Added sequence with accession 218
Added sequence with accession 219
Added sequence with accession 220
Added sequence with accession 221
Added sequence with accession 222
Added sequence with accession 223
Added sequence with accession 224
Added sequence with accession 225
Added sequence with accession 226
Added sequence with accession 227
Added sequence with accession 228
Added sequence with accession 229
Added sequence with accession 230
Added sequence with accession 231
Added sequence with accession 232
Added sequence with accession 233
Added sequence with accession 234
Added sequence with accession 235
Added sequence with accession 236
Added sequence with accession 237
Added sequence with accession 238
Added sequence with accession 239
Added sequence with accession 240
Added sequence with accession 241
Added sequence with accession 242
Added sequence with accession 243
Added sequence with accession 244
Added sequence with accession 245
Added sequence with accession 246
Added sequence with accession 247
Added sequence with accession 248
Added sequence with accession 249
Added sequence with accession 250
Added sequence with accession 251
Added sequence with accession 252
Added sequence with accession 253
Added sequence with accession 254
Added sequence with accession 255
Added sequence with accession 256
Added sequence with accession 257
Added sequence with accession 258
Added sequence with accession 259
Added sequence with accession 260
Added sequence with accession 261
Added sequence with accession 262
Added sequence with accession 263
Added sequence with accession 264
Added sequence with accession 265
Added sequence with accession 266
Added sequence with accession 267
Added sequence with accession 268
Added sequence with accession 269
Added sequence with accession 270
Added sequence with accession 271
Added sequence with accession 272
Added sequence with accession 273
Added sequence with accession 274
Added sequence with accession 275
Added sequence with accession 276
Added sequence with accession 277
Added sequence with accession 278
Added sequence with accession 279
Added sequence with accession 280
Added sequence with accession 281
Added sequence with accession 282
Added sequence with accession 283
Added sequence with accession 284
Added sequence with accession 285
Added sequence with accession 286
Added sequence with accession 287
Added sequence with accession 288
Added sequence with accession 289
Added sequence with accession 290
Added sequence with accession 291
Added sequence with accession 292
Added sequence with accession 293
Added sequence with accession 294
Added sequence with accession 295
Added sequence with accession 296
Added sequence with accession 297
Added sequence with accession 298
Added sequence with accession 299
Added sequence with accession 300
Added sequence with accession 301
Added sequence with accession 302
Added sequence with accession 303
Added sequence with accession 304
Added sequence with accession 305
Added sequence with accession 306
Added sequence with accession 307
Added sequence with accession 308
Added sequence with accession 309
Added sequence with accession 310
Added sequence with accession 311
Added sequence with accession 312
Added sequence with accession 313
Added sequence with accession 314
Added sequence with accession 315
Added sequence with accession 316
Added sequence with accession 317
Added sequence with accession 318
Added sequence with accession 319
Added sequence with accession 320
Added sequence with accession 321
Added sequence with accession 322
Added sequence with accession 323
Added sequence with accession 324
Added sequence with accession 325
Added sequence with accession 326
Added sequence with accession 327
Added sequence with accession 328
Added sequence with accession 329
Added sequence with accession 330
Added sequence with accession 331
Added sequence with accession 332
Added sequence with accession 333
Added sequence with accession 334
Added sequence with accession 335
Added sequence with accession 336
Added sequence with accession 337
Added sequence with accession 338
Added sequence with accession 339
Added sequence with accession 340
Added sequence with accession 341
Added sequence with accession 342
Added sequence with accession 343
Added sequence with accession 344
Added sequence with accession 345
Added sequence with accession 346
Added sequence with accession 347
Added sequence with accession 348
Added sequence with accession 349
Added sequence with accession 350
Added sequence with accession 351
Added sequence with accession 352
Added sequence with accession 353
Added sequence with accession 354
Added sequence with accession 355
Added sequence with accession 356
Added sequence with accession 357
Added sequence with accession 358
Added sequence with accession 359
Added sequence with accession 360
Added sequence with accession 361
Added sequence with accession 362
Added sequence with accession 363
Added sequence with accession 364
Added sequence with accession 365
Added sequence with accession 366
Added sequence with accession 367
Added sequence with accession 368
Added sequence with accession 369
Added sequence with accession 370
Added sequence with accession 371
Added sequence with accession 372
Added sequence with accession 373
Added sequence with accession 374
Added sequence with accession 375
Added sequence with accession 376
Added sequence with accession 377
Added sequence with accession 378
Added sequence with accession 379
Added sequence with accession 380
Added sequence with accession 381
Added sequence with accession 382
Added sequence with accession 383
Added sequence with accession 384
Added sequence with accession 385
Added sequence with accession 386
Added sequence with accession 387
Added sequence with accession 388
Added sequence with accession 389
Added sequence with accession 390
Added sequence with accession 391
Added sequence with accession 392
Added sequence with accession 393
Added sequence with accession 394
Added sequence with accession 395
Added sequence with accession 396
Added sequence with accession 397
Added sequence with accession 398
Added sequence with accession 399
Added sequence with accession 400
Added sequence with accession 401
Added sequence with accession 402
Added sequence with accession 403
Added sequence with accession 404
Added sequence with accession 405
Added sequence with accession 406
Added sequence with accession 407
Added sequence with accession 408
Added sequence with accession 409
Added sequence with accession 410
Added sequence with accession 411
Added sequence with accession 412
Added sequence with accession 413
Added sequence with accession 414
Added sequence with accession 415
Added sequence with accession 416
Added sequence with accession 417
Added sequence with accession 418
Added sequence with accession 419
Added sequence with accession 420
Added sequence with accession 421
Added sequence with accession 422
Added sequence with accession 423
Added sequence with accession 424
Added sequence with accession 425
Added sequence with accession 426
Added sequence with accession 427
Added sequence with accession 428
Added sequence with accession 429
Added sequence with accession 430
Added sequence with accession 431
Added sequence with accession 432
Added sequence with accession 433
Added sequence with accession 434
Added sequence with accession 435
Added sequence with accession 436
Added sequence with accession 437
Added sequence with accession 438
Added sequence with accession 439
Added sequence with accession 440
Added sequence with accession 441
Added sequence with accession 442
Added sequence with accession 443
Added sequence with accession 444
Added sequence with accession 445
Added sequence with accession 446
Added sequence with accession 447
Added sequence with accession 448
Added sequence with accession 449
Added sequence with accession 450
Added sequence with accession 451
Added sequence with accession 452
Added sequence with accession 453
Added sequence with accession 454
Added sequence with accession 455
Added sequence with accession 456
Added sequence with accession 457
Added sequence with accession 458
Added sequence with accession 459
Added sequence with accession 460
Added sequence with accession 461
Added sequence with accession 462
Added sequence with accession 463
Added sequence with accession 464
Added sequence with accession 465
Added sequence with accession 466
Added sequence with accession 467
Added sequence with accession 468
Added sequence with accession 469
Added sequence with accession 470
Added sequence with accession 471
Added sequence with accession 472
Added sequence with accession 473
Added sequence with accession 474
Added sequence with accession 475
Added sequence with accession 476
Added sequence with accession 477
Added sequence with accession 478
Added sequence with accession 479
Added sequence with accession 480
Added sequence with accession 481
Added sequence with accession 482
Added sequence with accession 483
Added sequence with accession 484
Added sequence with accession 485
Added sequence with accession 486
Added sequence with accession 487
Added sequence with accession 488
Added sequence with accession 489
Added sequence with accession 490
Added sequence with accession 491
Added sequence with accession 492
Added sequence with accession 493
Added sequence with accession 494
Added sequence with accession 495
Added sequence with accession 496
Added sequence with accession 497
Added sequence with accession 498
Added sequence with accession 499
Added sequence with accession 500
Added sequence with accession 501
Added sequence with accession 502
Added sequence with accession 503
Added sequence with accession 504
Added sequence with accession 505
Added sequence with accession 506
Added sequence with accession 507
Added sequence with accession 508
Added sequence with accession 509
Added sequence with accession 510
Added sequence with accession 511
Added sequence with accession 512
Added sequence with accession 513
Added sequence with accession 514
Added sequence with accession 515
Added sequence with accession 516
Added sequence with accession 517
Added sequence with accession 518
Added sequence with accession 519
Added sequence with accession 520
Added sequence with accession 521
Added sequence with accession 522
Added sequence with accession 523
Added sequence with accession 524
Added sequence with accession 525
Added sequence with accession 526
Added sequence with accession 527
Added sequence with accession 528
Added sequence with accession 529
Added sequence with accession 530
Added sequence with accession 531
Added sequence with accession 532
Added sequence with accession 533
Added sequence with accession 534
Added sequence with accession 535
Added sequence with accession 536
Added sequence with accession 537
Added sequence with accession 538
Added sequence with accession 539
Added sequence with accession 540
Added sequence with accession 541
Added sequence with accession 542
Added sequence with accession 543
Added sequence with accession 544
Added sequence with accession 545
Added sequence with accession 546
Added sequence with accession 547
Added sequence with accession 548
Added sequence with accession 549
Added sequence with accession 550
Added sequence with accession 551
Added sequence with accession 552
Added sequence with accession 553
Added sequence with accession 554
Added sequence with accession 555
Added sequence with accession 556
Added sequence with accession 557
Added sequence with accession 558
Added sequence with accession 559
Added sequence with accession 560
Added sequence with accession 561
Added sequence with accession 562
Added sequence with accession 563
Added sequence with accession 564
Added sequence with accession 565
Added sequence with accession 566
Added sequence with accession 567
Added sequence with accession 568
Added sequence with accession 569
Added sequence with accession 570
Added sequence with accession 571
cp histones.csv backups/histones.csv-May2524072945
Previous data backuped to backups/histones.csv-May2524072945
Results saved to histones.csv